<article class="loader">
    <div class="loader__wrapper">
        <div data-value="1" id="loader" data-preset="circle" class="ldBar label-center"
            style="width: 100%; height: 100%">
            <p class="loader__percent"> <span class="percent"></span>%</p>
        </div>
    </div>
    <h2 class="loader__title">
        Приступаю к анализу введенной вами информации…
    </h2>
    <h2 class="loader__title">
        Обрабатываю ваши ответы…
    </h2>
    <h2 class="loader__title">
        Вычисляю индекс массы тела…
    </h2>
    <h2 class="loader__title">
        Ваша программа почти готова…
    </h2>
</article>
