<section class="main_page">

    <div class="main_page__wrap wrap1">
        <div class="main_page__main_title b">
            <img src="img/icons/logo.webp" alt="logo">
            Юлия Романова
        </div>
        <ul class="main_page__green_list">
            <li class="main_page__green_item">
                <img src="img/icons/green_mark.webp" alt="green_mark">
                <div class="main_page__green_text">
                    Психолог по пищевому поведению
                </div>
            </li>
            <li class="main_page__green_item">
                <img src="img/icons/green_mark.webp" alt="green_mark">
                <div class="main_page__green_text">
                    Нутрициолог
                </div>
            </li>
            <li class="main_page__green_item">
                <img src="img/icons/green_mark.webp" alt="green_mark">
                <div class="main_page__green_text">
                    Автор бестселлера “Питание и интуиция: найти связь”
                </div>
            </li>
            <li class="main_page__green_item">
                <img src="img/icons/green_mark.webp" alt="green_mark">
                <div class="main_page__green_text">
                    Автор курса: “В гармонии с собой, едой и телом”
                </div>
            </li>
        </ul>
    </div>

    <div class="main_page__wrap wrap2">
        <div class="main__page_title">
            Пройдите мой тест и получите
            <span class="y i">
                индивидуальную программу
            </span>
            <span class="b">
                от эксперта
            </span>
        </div>
        <ul class="main_page__program_list">
            <li class="main_page__program_item">
                <img src="img/icons/emotionals.webp" alt="emotionals" class="img1">
                <div class="main_page__program_text">
                    как справиться
                    <br>
                    с перееданиями и
                    <br>
                    трудными эмоциями
                </div>
            </li>
            <li class="main_page__program_item">
                <img src="img/icons/guilt.webp" alt="guilt" class="img2">
                <div class="main_page__program_text">
                    спокойно питаться
                    <br>
                    без вины
                </div>
            </li>
            <li class="main_page__program_item">
                <img src="img/icons/bodypos.webp" alt="bodypos" class="img3">
                <div class="main_page__program_text">
                    принять свое
                    <br>
                    тело
                </div>
            </li>
            <li class="main_page__program_item">
                <img src="img/icons/nodiets.webp" alt="nodiets" class="img4">
                <div class="main_page__program_text">
                    оставить в
                    <br>
                    прошлом
                    <br>
                    диеты
                </div>
            </li>
        </ul>
        <div class="main_page__start">
            <button class="button_next">
                Пройти тест
            </button>
            <div class="main_page__get_recomendation i">
                И получить индивидуальные
                <br>
                рекомендации
            </div>
        </div>
    </div>
    <div class="main_page__wrap wrap3">

    </div>
    <img src="img/expert.webp" alt="expert" class="main_page__expert">

</section>
